.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 22px 34px 10px 24px;
  align-items: center;

  .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    .notificationIcon {
      margin-right: 1.5rem;
    }
  }
}